# Konfigurasi Folder Server
BASE_UPLOAD_FOLDER=your_folder
ALLOWED_CATEGORIES=your_category_1,your_category_2,your_category_3,your_category_4

# Batasan Ukuran File (16MB)
MAX_CONTENT_LENGTH=16777216

# DOMAIN URL
BASE_PUBLIC_URL=your_url (without https://)